.btn-dark,
.btn-dark:active {
	background-color: #003152 !important;
}

.btn-dark:hover,
.btn-dark:visited {
	background-color: #02233a !important;
}

.navbar-dark {
	background-color: #02233a !important;
}

.btn-light,
.btn-light:active {
	background-color: #e6f1ff !important;
}

.btn-light:hover {
	background-color: #c1dcfe !important;
}
